  /*body {
    background-image: url('img/diva-on-couch.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: 1000px;
  }*/

  .bg-wrapper {
    background-image: linear-gradient(#ffe8e8, #f17b79, #555B6E, #E8F0FF,#89B0AE, #FFB997, #ACEDFF rgba(0,0,0,0));
  }

  section {
      max-width: 700px;
      margin: 0 auto;
  }

  section.section-topname {
      max-width: none;
      width: 100%;
  }

  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }

  .section-topname {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
  }

  .section-topname h1 {
    color: #000;
    font-size: 6em;
  }

  .section-pinktop {
      padding-top: 40px;
      padding-bottom: 10px;
      background-color: #f17b79;
      color: white;
      text-align: center;
  }

  .section-pinktop h1 {
      margin: 0;
  }

  .section-pinktop h1 span {
      display: block;
  }

  .section-pinktop h1 span.hello {
      font-size: 1em;
  }

  .section-pinktop h1 span.divahurtado {
    font-size: 2em;
  }

  .section-header {
    background-color: #555B6E;
    color: #fff;
    padding: 30px 0;
  }

  .section-header.design-color {
      background-color: #E8F0FF;
  }

  .section-header.education-color {
      background-color: #89B0AE;
  }

  .section-header.otherprojects-color {
      background-color: #FFB997;
  }

  .section-header.workexp-color {
      background-color: #ACEDFF;
  }

  .section-content {
    background-color: #fff;
    padding: 30px 30px;
  }

  .section-content h3 {
    margin-bottom: 40px;
  }

  .section-content p {
      margin-bottom: 40px;
      font-size: 24px;
  }

  .section-contact {
    margin-top: 100px;
    text-align: center;
    color: #777;
  }

  .section-contact h2 {
    font-size: 3em;
  }

  .section-contact i {
    font-size: 5em;
    margin-left: 10px;
  }


body {
    background-image: url('img/diva-on-couch.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: 1000px;
  }



